<div class="container-fluid container-fluid-custom py-md-5 mb-5 home-container">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative ls-2 home-title">
                    write down your thoughts
                </h1>
                <p class="fs-4 mb-4">
                    Notes is a free-to-use app made with NodeJS for your convenience.
                </p>
                <a href="/auth/google" class="btn btn-primary btn-large">
                    Try it for FREE!
                </a>
            </div>

        </div>
    </main>
</div>